language: node_js
cache: npm
notifications:
  email: false
node_js:
	- node
	- lts/*
	- 10.0.0
install:
  - npm install
script:
	- npm run test
	- npm run test:dev
	- npm run test:coverage
branches:
  only:
    - master
